In [7]:
import pandas as pd
import numpy as np

# Convert xls to CSV
df = pd.read_excel("Unemployment.xls")
df.to_csv("Unemployment.csv", index=False)

In [39]:
df = pd.read_csv("Unemployment.csv",skiprows=4)
print(f"Rows: {df.index.size} | cols: {df.columns.size} | third col: {df.columns[2]}")
df

Rows: 3275 | cols: 88 | third col: area_name

,fips_txt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2019,Med_HH_Income_Percent_of_State_Total_2019
0,0,US,United States,NaN,NaN,NaN,142601667.0,136904680.0,5696987.0,3.995035,...,161389026.0,155102319.0,6286707.0,3.895375,163100055.0,157115247.0,5984808.0,3.669409,65712.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2133223.0,2035594.0,97629.0,4.600000,...,2216627.0,2130845.0,85782.0,3.900000,2241747.0,2174483.0,67264.0,3.000000,51771.0,100.000000
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,21720.0,20846.0,874.0,4.000000,...,26196.0,25261.0,935.0,3.600000,26172.0,25458.0,714.0,2.700000,58233.0,112.481888
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,69533.0,66971.0,2562.0,3.700000,...,95233.0,91809.0,3424.0,3.600000,97328.0,94675.0,2653.0,2.700000,59871.0,115.645828
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,11373.0,10748.0,625.0,5.500000,...,8414.0,7987.0,427.0,5.100000,8537.0,8213.0,324.0,3.800000,35972.0,69.482918
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3270,72145,PR,"Vega Baja Municipio, PR",1.0,1.0,1.0,19805.0,17607.0,2198.0,11.100000,...,13117.0,11750.0,1367.0,10.400000,13037.0,11791.0,1246.0,9.600000,NaN,NaN
3271,72147,PR,"Vieques Municipio, PR",7.0,12.0,0.0,2441.0,2120.0,321.0,13.200000,...,2718.0,2269.0,449.0,16.500000,2585.0,2406.0,179.0,6.900000,NaN,NaN
3272,72149,PR,"Villalba Municipio, PR",2.0,2.0,1.0,7636.0,6648.0,988.0,12.900000,...,7311.0,6154.0,1157.0,15.800000,7406.0,6231.0,1175.0,15.900000,NaN,NaN
3273,72151,PR,"Yabucoa Municipio, PR",1.0,1.0,1.0,10613.0,9005.0,1608.0,15.200000,...,8762.0,7509.0,1253.0,14.300000,8691.0,7552.0,1139.0,13.100000,NaN,NaN
3274,72153,PR,"Yauco Municipio, PR",2.0,2.0,1.0,14664.0,12871.0,1793.0,12.200000,...,9716.0,8288.0,1428.0,14.700000,9759.0,8331.0,1428.0,14.600000,NaN,NaN

In [41]:
df2 = pd.read_csv("https://raw.githubusercontent.com/grbruns/cst383/master/unemployment.csv")
print(f"Rows: {df2.index.size} | cols: {df2.columns.size} | third col: {df2.columns[2]}")
df2

Rows: 3274 | cols: 45 | third col: Area_name

,FIPStxt,State,Area_name,Rural_urban_continuum_code_2003,Urban_influence_code_2003,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,...,Civilian_labor_force_2014,Employed_2014,Unemployed_2014,Unemployment_rate_2014,Civilian_labor_force_2015,Employed_2015,Unemployed_2015,Unemployment_rate_2015,Median_Household_Income_2015,Med_HH_Income_Percent_of_State_Total_2015
0,1000,AL,Alabama,,,,,"2,175,612","2,089,127","86,485",...,"2,161,313","2,014,284","147,029",6.8,"2,146,157","2,015,189","130,968",6.1,"$44,833",100.0
1,1001,AL,"Autauga County, AL",2,2,2,2,"24,383","23,577",806,...,"25,597","24,097","1,500",5.9,"25,308","23,981","1,327",5.2,"$56,580",126.2
2,1003,AL,"Baldwin County, AL",4,5,3,2,"82,659","80,099","2,560",...,"86,400","81,084","5,316",6.2,"87,316","82,525","4,791",5.5,"$52,387",116.8
3,1005,AL,"Barbour County, AL",6,6,6,6,"10,334","9,684",650,...,"8,849","7,913",936,10.6,"8,625","7,854",771,8.9,"$31,433",70.1
4,1007,AL,"Bibb County, AL",1,1,1,1,"8,791","8,432",359,...,"8,560","7,942",618,7.2,"8,490","7,929",561,6.6,"$40,767",90.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3269,72145,PR,"Vega Baja Municipio, PR",1,1,1,1,"21,115","18,445","2,670",...,"14,240","11,944","2,296",16.1,"14,004","12,069","1,935",13.8,,
3270,72147,PR,"Vieques Municipio, PR",7,12,7,12,"3,317","2,955",362,...,"3,170","2,727",443,14.0,"3,295","2,926",369,11.2,,
3271,72149,PR,"Villalba Municipio, PR",2,2,2,2,"9,479","8,223","1,256",...,"7,967","6,236","1,731",21.7,"7,903","6,331","1,572",19.9,,
3272,72151,PR,"Yabucoa Municipio, PR",1,1,1,1,"11,425","9,348","2,077",...,"9,699","7,595","2,104",21.7,"9,307","7,675","1,632",17.5,,
3273,72153,PR,"Yauco Municipio, PR",3,2,2,2,"16,635","14,451","2,184",...,"11,100","8,725","2,375",21.4,"10,871","8,805","2,066",19.0,,

7. How does the work you’re doing with this data to get it into pandas data frame relate to the need to have your results be replicable?  How would you document the source of the data set, and what you did to get it into a format that Python can use?

    Because the data is stored online, it easy for me to be able to pull the data. It is important to be able to replicate data because if any one wanted to verify my results or see if updated data changes the results, they would be able to. I think the best way to document my source would be to use the full URL of where I pulled the data. Also, by using my python code to process my data one, could easily see how I obtained my dataset. For example above, I input the data as an excel file, and using pandas I was able to convert the `.xls` file into a more usable `.csv` file.

8. Data sets often come with associated data dictionaries that explain where the data comes from, what the attributes mean, etc.  Where is the documentation for this data set?

    This set does not appear to have one. I looked at the link provided aswell as Dr. Bruns' github repo.